<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-5.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="customAuthenticationFailureHandler"
		class="spring.mvc.security.CustomAuthenticationFailureHandler"></bean>
	<bean id="bCryptPasswordEncoder"
		class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"></bean>

	<security:http auto-config="true" use-expressions="true">
		<security:csrf disabled="true" />

		<security:intercept-url pattern="/admin**"
			access="hasRole('ROLE_ADMIN')" />
		<security:intercept-url pattern="/user**"
			access="hasAnyRole('ROLE_ADMIN','ROLE_USER')" />
	
		<security:access-denied-handler error-page="/403"/>
		
		<security:form-login login-page="/login"
			login-processing-url="/j_spring_security_login"
			default-target-url="/user"
			authentication-failure-handler-ref="customAuthenticationFailureHandler"
			username-parameter="username" password-parameter="password" />
		
		<security:logout
			logout-url="/j_spring_security_logout" logout-success-url="/login?message=logout"
			delete-cookies="JSESSIONID" invalidate-session="true" />
	</security:http>

	<bean id="myUserDetailServiceImpl"
		class="spring.mvc.security.MyUserDetailServiceImpl"></bean>

	<security:authentication-manager>
		<security:authentication-provider
			user-service-ref="myUserDetailServiceImpl">
			<security:password-encoder
				ref="bCryptPasswordEncoder" />
		</security:authentication-provider>
	</security:authentication-manager>
</beans>
